<%- include('../includes/start') %>
    <link rel="stylesheet" href="/css/product.css">
  </head>
<%- include('../includes/navigation') %>  
    <main>
      <% if(products.length>0) { %>
      <div class="grid">
          <%  for(let prods of products) {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= prods.title %></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= prods.imageUrl %>" alt="<%= prods.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">Rs <%= prods.price %></h2>
                    <p class="product__description"><%= prods.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/admin/edit-product/<%= prods._id%>/?edit=true" class="btn">Edit</a>
                        <input type="hidden" name="productId" value="<%= prods._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <button type="'button" class="btn" onclick="deleteProduct(this)">Delete</button>                    
                </div>
            </article>
            <% } %>
        </div>
        <% } else{ %>
            <h2>No Product Found</h2>
        <% } %>    
    </main>
    <script src="/js/admin.js"></script>
<%- include('../includes/end') %>
